<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Babbage</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
    <img width="430" src="/img/Babbage.jpg" alt="">
     
    <font size=6><h1>Charless Babbage</h1></font>
      
      <font size=5><h4><p>Nacionalidad: Britanico</p>
         <p>Áreas de trabajo: Matemático, informático teórico, inventor, economista, filósofo, profesor universitario, ingeniero, astrónomo y escritor</p>
         <p>
              Descripción: (1791 - 1871) Fue un matemático y científico de la computación británico. Diseñó y desarrolló una calculadora mecánica capaz de calcular tablas de funciones numéricas por el método de diferencias. También diseñó, (pero nunca construyó), la analítica para ejecutar programas de tabulación o computación; por estos inventos se le considera como una de las primeras personas en concebir la idea de lo que hoy llamaríamos una computadora, por lo que se le considera como "El Padre de la computación".
    </p></h4></font>  

    <h2>Menu</h2>
    <nav>
        <ul>
           <font size=5><li><a href=
           <li><a href="/berners-lee">Berners Lee</a></li>
           <li><a href="/clarke">Clarke</a></li>
           <li><a href="/hamilton">Hamilton</a></li>
           <li><a href="/hopper">Hopper</a></li>
           <li><a href="/lovelace">Lovelace</a></li>
           <li><a href="/turing">Turing</a></li></font>
        </ul>       
    </nav>

   <font size=5><a href="/">Volver a la pagina principal</a></font>
    
</body>
</html>