<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Berners Lee</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
    <img width="430" src="/img/Berners.jpg" alt="">
     
    <font size=6><h1>Berners Lee</h1></font>
      
      <font size=5><h4><p>Nacionalidad: Britanico</p>
         <p>Áreas de trabajo: nformático teórico, físico, programador, profesor universitario, desarrollador web, ingeniero e inventor</p>
         <p>
        Descripción: (1955 - actualidad 66 años) Es un científico de la computación británico, conocido por ser el padre de la World Wide Web. Estableció la primera comunicación entre un cliente y un servidor usando el protocolo HTTP en diciembre de 1990. En octubre de 1994 fundó el Consorcio de la World Wide Web (W3C) con sede en el MIT, para supervisar y estandarizar el desarrollo de las tecnologías sobre las que se fundamenta la Web y que permiten el funcionamiento de Internet.
        <p>Ante la necesidad de distribuir e intercambiar información acerca de sus investigaciones de una manera más efectiva, Berners-Lee desarrolló las ideas fundamentales que estructuran la web. Él y su grupo crearon lo que por sus siglas en inglés se denomina Lenguaje HTML (HyperText Markup Language) o lenguaje de etiquetas de hipertexto, el protocolo HTTP (HyperText Transfer Protocol) y el sistema de localización de objetos en la web URL (Uniform Resource Locator).</p>
    </p></h4></font>  

    <h2>Menu</h2>
    <nav>
        <ul>
           <font size=5><li><a href=
           <li><a href="/babbage">Babbage</a></li>
           <li><a href="/clarke">Clarke</a></li>
           <li><a href="/hamilton">Hamilton</a></li>
           <li><a href="/hopper">Hopper</a></li>
           <li><a href="/lovelace">Lovelace</a></li>
           <li><a href="/turing">Turing</a></li></font>
        </ul>       
    </nav>

   <font size=5><a href="/">Volver a la pagina principal</a></font>
</body>
</html>