<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Heroes</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
    <h1>Bienvenidos a DH Heroes</h1>   
    <img width="300" src="/img/Heroes.png" alt="">
    <h2>Bienvenidos/as queridos lectores, durante su estadia en la página se encontraran con links que los redireccionaran a distintas celebridades del ambito de la programación.</h2>
    
    <h2>Menu</h2>
    <nav>
        <ul>
           <font size=5><li><a href=
           <li><a href="/babbage">Babbage</a></li>
           <li><a href="/berners-lee">Berners Lee</a></li>
           <li><a href="/clarke">Clarke</a></li>
           <li><a href="/hamilton">Hamilton</a></li>
           <li><a href="/hopper">Hopper</a></li>
           <li><a href="/lovelace">Lovelace</a></li>
           <li><a href="/turing">Turing</a></li></font>
        </ul>       
    </nav>
    <h2>Esperamos que disfruten su estadia. Gracias</h2>
</body>
</html>
