<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lovelace</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
    <img width="430" src="/img/Lovelace.jpg" alt="">
     
    <font size=6><h1>Ada Lovelace</h1></font>
      
      <font size=5><h4><p>Nacionalidad: Britanica</p>
         <p>Áreas de trabajo: Matemática, programadora, poeta, informática teórica, inventora, traductora, escritora, ingeniera </p>
         <p>
        Descripción: (1815 - 1852) Fue la primera en reconocer que la máquina tenía aplicaciones más allá del cálculo puro y en haber publicado lo que se reconoce hoy como el primer algoritmo destinado a ser procesado por una máquina, por lo que se la considera como la primera programadora de ordenadores.
    </p></h4></font>  

    <h2>Menu</h2>
    <nav>
        <ul>
           <font size=5><li><a href=
           <li><a href="/babbage">Babbage</a></li>
           <li><a href="/berners-lee">Berners Lee</a></li>
           <li><a href="/clarke">Clarke</a></li>
           <li><a href="/hamilton">Hamilton</a></li>
           <li><a href="/hopper">Hopper</a></li>
           <li><a href="/turing">Turing</a></li></font>
        </ul>       
    </nav>

   <font size=5><a href="/">Volver a la pagina principal</a></font>
</body>
</html>