<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Turing</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
    <img width="430" src="/img/Turing.jpg" alt="">
     
    <font size=6><h1>Alan Turing</h1></font>
      
      <font size=5><h4><p>Nacionalidad: Britanico</p>
         <p>Áreas de trabajo: Informático teórico, matemático, profesor universitario, criptógrafo, lógico, estadístico, maratonista e investigador de la inteligencia artificial</p>
         <p>
        Descripción: (1912 - 1954) Es considerado uno de los padres de la ciencia de la computación y precursor de la informática moderna. Proporcionó una influyente formalización de los conceptos de algoritmo y computación: la máquina de Turing. Formuló su propia versión que hoy es ampliamente aceptada como la tesis de Church-Turing.
        <p>Durante la segunda guerra mundial, trabajó en descifrar los códigos nazis, particularmente los de la máquina Enigma, y durante un tiempo fue el director de la sección Naval Enigma de Bletchley Park. Se ha estimado que su trabajo acortó la duración de esa guerra entre dos y cuatro años.6​ Tras la guerra, diseñó uno de los primeros computadores electrónicos programables digitales en el Laboratorio Nacional de Física del Reino Unido y poco tiempo después construyó otra de las primeras máquinas en la Universidad de Mánchester.</p>
        <p>En el campo de la inteligencia artificial, es conocido sobre todo por la concepción de la prueba de Turing (1950), un criterio según el cual puede juzgarse la inteligencia de una máquina si sus respuestas en la prueba son indistinguibles de las de un ser humano.</p>
    </p></h4></font>  

    <h2>Menu</h2>
    <nav>
        <ul>
           <font size=5><li><a href=
           <li><a href="/babbage">Babbage</a></li>
           <li><a href="/berners-lee">Berners Lee</a></li>
           <li><a href="/clarke">Clarke</a></li>
           <li><a href="/hamilton">Hamilton</a></li>
           <li><a href="/hopper">Hopper</a></li>
           <li><a href="/lovelace">Lovelace</a></li></font>
        </ul>       
    </nav>

   <font size=5><a href="/">Volver a la pagina principal</a></font>
</body>
</html>